.indice {
    display: flex;
    gap: 50px;
}

.container {
    border-right: 1px solid rgb(110, 110, 110);
    padding: 50px;
    line-height: 40px;
}

body {
    margin: 40px;
    font-family: 'Times New Roman', Times, serif;
}