.indice {
    display: flex;
    gap: 30px;
}

.container {
    border-right: 1px solid black;
    padding: 10px;
    line-height: 40px;
}

body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif    
}